.nav {
  background-color: rgb(247, 247, 247);
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
}
.nav ul {
  display: flex;
  font-size: 22px;
  justify-content: space-between;
  padding: 15px 30px;
}
.nav__list-item {
  position: relative;
}
.nav__badge {
  position: absolute;
  top: -6px;
  font-size: 14px;
  right: -5px;
  background-color: rgb(245, 51, 51);
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 50px;
  color: white;
}
