.settings {
  margin-top: 30px;
}
.settings__list {
  display: flex;
  flex-direction: column;
}
.setting__item {
  font-size: 20px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}
.setting__item i {
  margin-right: 15px;
}
.setting__item span {
  font-size: 14px;
}
